<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="containerfluid" style="background-color: blue;height: 500px;">
        <h1>blue</h1>
        <div class="container" style="background-color: green;margin-top: 50px;width: 50rem;">
            <h1>green</h1>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam error maiores quam itaque deleniti, numquam facere vel mollitia sed! Esse quia veritatis, hic soluta eligendi, eos rem pariatur distinctio repellendus quo laboriosam itaque impedit,
                suscipit iure commodi ex nobis ipsam? Eos non ut magnam facere obcaecati nemo incidunt saepe alias quae fuga, id eum amet, aspernatur consequuntur, eius quia vero aperiam molestiae natus? Voluptates, corporis impedit dolor aliquid ut facilis
                nobis doloremque modi eius quisquam repellendus asperiores cumque eos omnis maxime illum! Possimus maiores earum tempora repudiandae rem, iure asperiores unde, impedit repellendus sequi harum quidem voluptas magnam veniam? Inventore. </p>
        </div>
        <div class="container" style="background-color:orange;margin-left: 55rem;margin-top:-200px;height:20rem;width: 20rem;">
            <h1>sidebar</h1>
        </div>
    </div>
</body>

</html>