extends dashboard
block content
    head 
        link(href="./styles.css", rel="stylesheet")
    body 
        //  registration info 
        .card(style="width: 45rem;background-color: gray; align-content: center;margin-left: 150px;margin-top:150px;")
            .card-body(style="width: 700px")
                //   
                h1.mb-4(style="color:lightgray;") Employee Registration Form
                //  the registration form starts here 
                form.row.g-3(method="POST", action, enctype="multipart/form-data", style="align-content: center;margin-left:25px;")
                    .col-md-6
                    label.form-label(for="inputEmail4") Employee Name
                    //  will ask for some clarity about the aria-label="First Name" on the next line below
                    input.form-control(type="text", placeholder="employee name", aria-label="First name")
                    .col-md-4
                        label.form-label(for="inputEmail4") User Name
                        input.form-control(type="text", placeholder="username", aria-label="First name")
                    .row
                        //  role at the company 
                        .col-md-3
                        label.form-label(for="validationDefault04") Role
                        select.form-select#validationDefault04(required)
                            option Driver
                            option Conductor
                        //  age 
                    .col-md-3
                    label.form-label(for="validationDefault04") Age
                    input.form-control#age(type="text", placeholder="age")
                    //  gender selection 
                    .col-md-3
                    label.form-label(for="validationDefault04") Gender
                    select.form-select#validationDefault04(required)
                        option Male
                        option Female
                    //  NIN number 
                    .col-8
                        label.form-label(for="inputAddress") NIN number
                        input.form-control#inputAddress(type="text", placeholder="NIN")
                    .row
                        .col-8
                        label.form-label(for="inputAddress2") Driver License
                        input.form-control#inputAddress2(type="text", placeholder="license number")
                        .col-md-6
                        label.form-label(for="formFileMultiple") Upload documents
                        input.form-control#formFileMultiple(type="file", multiple)
                        //  tel number 
                        .col-7
                        label.form-label(for="inputAddress") Tel Number
                        input.form-control#inputAddress(type="text", placeholder="+256-758-328")
                        //  Residence 
                        .col-5
                        label.form-label(for="inputAddress") Residence
                        input.form-control#inputAddress(type="text", placeholder="e.g. Nsambya")
                        //
                            <div class="col-md-2">
                                                <label for="inputZip" class="form-label">Zip</label>
                                                    <input type="text" class="form-control" id="inputZip" />
                                                </div> 
                        .col-12
                            button.btn.btn-primary(style="width: 650px;height: 40px;", type="submit")
                                span(style="font-weight:4rem;") Register Employee
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js", crossorigin="anonymous")