//  Required meta tags 
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
//  Bootstrap CSS 
link(href="/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/styles.css", rel="stylesheet")
title Hello, world!
//  Image and text 
div(w3-include-html="nav-bar.html")
nav.navbar.navbar-expand-lg.navbar-dark(style="background-color: #141413;")
  .container-fluid
    a.navbar-brand(href="#")
      // Add the logo for the company
      img.d-inline-block.align-top(src="/docs/5.0/assets/brand/bootstrap-logo.svg", alt, width="30", height="24")
      strong(style="color: coral;")
        | Stay
        span(style="color:lightblue;") Clean
    center
      // Navbar content begins here
      button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current="page", href="#") Home
            // Add the word active in the class attribute to show the tab is active
          li.nav-item
            a.nav-link(aria-current="page", href="schedule.html") Schedules
          li.nav-item
            a.nav-link(aria-current="page", href="login-form.html") Login
          li.nav-item
            a.nav-link(href="contact-us.html") Contact Us
#container-fluid(style="padding:0px;")
  .header
    #carouselExampleSlidesonly.carousel.slide(data-bs-ride="carousel")
      .carousel-inner
        .carousel-item.active
          img(src="/images/login1.png", height="600px", alt="...", style="margin-left: 700px;")
          .carousel-caption#banner
            h3 We are
            h1 StayClean Co.
            br
            br
            h5 We help manage and dispose waste as a communal service to businesses,homesteads, companies etc in various locations.
            a(href="#")
              img.playstore(src="/images/playstore1.png")
            a(href="#")
              img.appstore(src="/images/appstore.png")
        svg(style="margin-top: 230px;", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1440 319")
          path(fill="orange", fill-opacity="1", d="M0,128L30,117.3C60,107,120,85,180,80C240,75,300,85,360,122.7C420,160,480,224,540,250.7C600,277,660,267,720,218.7C780,171,840,85,900,85.3C960,85,1020,171,1080,197.3C1140,224,1200,192,1260,197.3C1320,203,1380,245,1410,266.7L1440,288L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z")
                <span class="visually-hidden">Next</span>
              </button> 
br
.container-fluid
  .float-section
    .aboutus
      h2(style="color: #8076a3;") Why StayClean?
      br
      p.
        
        StayClean is urbanizing more rapidly than any other part of the planet, its 1.1 billion citizens will most likely double in number by 2050 and more than 80% of that increase will occur in cities especially slums. One result of a rapid urbanization is the problem of waste.
      p An average person generates 1kg of solid waste per day, the volume is huge compared to the rate (40-50%) at which it’s collected. With such rapid urbanization in many African cities, it’ll be seamlessly impossible for waste collectors in Africa to service the growing population effectively without better technology tools.
    img(src="/images/istockphoto3.jpg", width="400px", height="300px", alt, style="margin-left: 700px;margin-top: -250px;border-radius: 2px")
// Main content of the page starts here
br
.container-fluid
  #services
    h1(style="color: #8076a3;") Our Services
    hr
    .row
      .col-3
        .service1
          h3(style="color: #8076a3;") Waste Disposal
          p.
            We help our clients collect and properly dispose off of waste in a way that is not harmful to the environment. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem incidunt rerum ipsum cupiditate sit doloribus exercitationem expedita! Consequatur.
            
      .col-3
        .service2
          h3(style="color: #8076a3;") Sewage
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident praesentium eos suscipit voluptates qui maiores. Maiores sapiente totam explicabo. Fugiat ipsum, saepe architecto omnis accusantium non id! Molestias, asperiores ea?
  #footer
    .container-fluid
      br
      .row(style="margin-left: 200px;")
        .col-4
          p
            | StayClean Co. located on Plot 4b, Muwafu Rd,
            br
            | Muyenga, Kampala
        .col-3
          p
            | Email: 
            a(href="info@yowasteapp.com") info@yowasteapp.com
        .col-4
          p Tel: 256-394-894-278 / 256-200-907-345
      .row
        hr
        p(style="text-align: center;") © All rights reserved | StayClean Team
//
   
    <script src="/js/popper.min.js"></script> 
      <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>  
script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js", integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi", crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js", integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG", crossorigin="anonymous")