doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='../public/css/bootstrap.min.css' rel='stylesheet')
  // <link href="/public/styles.css" rel="stylesheet">
  style.
    table th {
    font-weight: lighter;
    color: brown;
    }
  title Employee Registration
// Button trigger modal
//
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
  </button>
// Modal
#editEmployee.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Employee Form
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        | ...
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes
// nav-bar starts here
nav.navbar.navbar-expand-lg.navbar-dark(style='background-color: #141413;')
  .container-fluid
    a.navbar-brand(href='#')
      // Add the logo for the company
      img.d-inline-block.align-top(src='/docs/5.0/assets/brand/bootstrap-logo.svg' alt='' width='30' height='24')
      strong(style='color: coral;')
        | Stay
        span(style='color:lightblue;') Clean
    .Nav-icons(style='margin-right:150px;')
      // Navbar content begins here
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            // home icon
            a.nav-link(aria-current='page' href='home.html')
              svg.bi.bi-house-door(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='currentColor' viewbox='0 0 16 16')
                path(d='M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z')
            // Add the word active in the class attribute to show the tab is active
          li.nav-item
            // schedule icon
            a.nav-link(aria-current='page' href='schedule.html')
              svg.bi.bi-calendar-week(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='currentColor' viewbox='0 0 16 16')
                path(d='M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z')
                path(d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z')
          li.nav-item
            // employee registration
            a.nav-link(aria-current='page' href='Employee-reg.html')
              svg.bi.bi-person-lines-fill(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='currentColor' viewbox='0 0 16 16')
                path(d='M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z')
          li.nav-item
            a.nav-link(href='client-registration.html')
              svg.bi.bi-people-fill(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='currentColor' viewbox='0 0 16 16')
                path(d='M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z')
                path(fill-rule='evenodd' d='M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z')
                path(d='M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z')
          li.nav-item
            // sales and client requests report
            a.nav-link.active(aria-current='page' href='sales-report.html')
              svg.bi.bi-file-earmark-bar-graph-fill(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='currentColor' viewbox='0 0 16 16')
                path(d='M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm.5 10v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z')
          li.nav-item.dropdown
            a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              svg.bi.bi-box-arrow-right(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='currentColor' viewbox='0 0 16 16')
                path(fill-rule='evenodd' d='M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z')
                path(fill-rule='evenodd' d='M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z')
            .dropdown-menu(aria-labelledby='navbarDropdownMenuLink' style='background-color: lightblue ;')
              a.dropdown-item(href='login-form.html') Logout
// main content
//
  driver earnings
.container-fluid
  .container
    .col-sm-6(style='margin-bottom: 15px;margin-top: 30px;margin-left: 40px;')
      form.d-flex(action='#' method='POST')
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-primary(type='submit') Search
    br
    table.table.table-striped.table-hover(style='width: 800px;')
      th User Name
      th Employe Name
      th Role
      th No. of Pickups
      th Weekly earnings
      th Monthly earnings
      tr
        td STC-001
        td John Katembe
        td Driver
        td 14
        td 35,000
        td 350,000
      tr
        td STC-002
        td Kato Matthew
        td Conductor
        td 10
        td 35,000
        td 350,000
      tr
        td STC-001
        td John Katembe
        td Driver
        td 14
        td 35,000
        td 350,000
      tr
        td STC-002
        td Kato Matthew
        td Conductor
        td 10
        td 35,000
        td 350,000
      tr
        td STC-001
        td John Katembe
        td Driver
        td 14
        td 35,000
        td 350,000
      tr
        td STC-002
        td Kato Matthew
        td Conductor
        td 10
        td 35,000
        td 350,000
  .container(style='background-color: steelblue;')
    | schedule
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
