doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/css/bootstrap.min.css' rel='stylesheet')
  // <link href="/public/styles.css" rel="stylesheet">
  style.
    table th {
    font-weight: lighter;
    color: brown;
    }
  title Employee Registration
body 
  include ReportNav.pug 
  // Modal
  #editEmployee.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Employee Form
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes

  // main content
  //
    driver earnings
  .container-fluid
    .container
      .col-sm-6(style='margin-bottom: 15px;margin-top: 30px;margin-left: 40px;')
        form.d-flex(action='#' method='POST')
          input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
          button.btn.btn-outline-primary(type='submit') Search
      br
      table.table.table-striped.table-hover(style='width: 800px;')
        th User Name
        th Employe Name
        th Role
        th No. of Pickups
        th Weekly earnings
        th Monthly earnings
        tr
          td STC-001
          td John Katembe
          td Driver
          td 14
          td 35,000
          td 350,000
        tr
          td STC-002
          td Kato Matthew
          td Conductor
          td 10
          td 35,000
          td 350,000
        tr
          td STC-001
          td John Katembe
          td Driver
          td 14
          td 35,000
          td 350,000
        tr
          td STC-002
          td Kato Matthew
          td Conductor
          td 10
          td 35,000
          td 350,000
        tr
          td STC-001
          td John Katembe
          td Driver
          td 14
          td 35,000
          td 350,000
        tr
          td STC-002
          td Kato Matthew
          td Conductor
          td 10
          td 35,000
          td 350,000
    .container(style='background-color: steelblue;')
      | schedule
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
