body {
    background-image: url("");
    background-repeat: no-repeat;
}

.header {
    background-image: url(/public/images/profiles/wave-bottom.svg);
    background-image: linear-gradient(to right, rgb(161, 106, 4), teal);
    align-items: center;
}


/* 
.header svg {
    display: block;
} */

#banner {
    margin-bottom: 2%;
    margin-right: 300px;
    color: lightgoldenrodyellow;
}

#banner h1 {
    font-size: 4em;
    margin-right: 200px;
    background-color: transparent;
}

#banner h3 {
    margin-right: 500px;
}

#banner h5 {
    color: #fff;
    margin-left: -100px;
    font-family: monospace, 'Andale Mono', monospace;
    width: 100%;
}

#banner h5 ul li {
    margin-right: 5rem;
}

.appstore {
    margin-top: -155px;
}

.playstore {
    margin-right: 400px;
}

#services {
    align-content: center;
    text-align: center;
    margin-top: 60px;
}

.service1 {
    background-color: transparent;
    width: 400px;
    padding: 15px;
    margin-left: 250px;
    height: 300px;
    border-radius: 5px 5px;
    box-shadow: 0 0 20px 2px rgb(3, 93, 121);
}

.service2 {
    background-color: transparent;
    width: 400px;
    padding: 15px;
    margin-left: 400px;
    height: 300px;
    border-radius: 5px 5px;
    box-shadow: 0 0 20px 2px rgb(3, 93, 121);
}

.float-section {
    background-color: transparent;
    align-items: center;
    padding-left: 80px;
    margin-top: 50px;
    margin-left: 70px;
    width: 1200px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px rgb(3, 93, 121);
}

.aboutus {
    width: 670px;
    text-align: justify;
    padding-top: 30px;
    /* margin-left: 150px; */
    height: 300px;
    border-radius: 5px 5px;
}

#footer {
    background-color: #363636;
    margin-top: 400px;
    color: gray;
    /* width: auto; */
    padding: 10px;
}


/*Employee list */

#employeeList {
    margin-left: 700px;
    margin-top: -500px;
    width: 500px;
}

#employeeList ul {
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style: none;
}


/* CONTACT US FORM */

textarea {
    resize: none;
}

.form-label {
    font-size: 12px;
    color: #5e9bfc;
    margin: 0;
    display: block;
    opacity: 1;
    -webkit-transition: .333s ease top, .333s ease opacity;
    transition: .333s ease top, .333s ease opacity;
}

.form-control {
    border-radius: 0;
    border-color: #ccc;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
    border-color: #5e9bfc;
}

.js-hide-label {
    opacity: 0;
}

.js-unhighlight-label {
    color: #999
}

.btn-start-order {
    background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}

.btn-start-order:hover,
.btn-start-order:active,
.btn-start-order:focus {
    border-color: #5e9bfc;
    color: #5e9bfc;
}